.layer-kosS71.stop-animations~.layer-kosS71 {
    position: absolute;
    width: 50%;
    height: calc(10% - 37px);
    top: calc(100% - 50px);
    max-width: 800px;
}

.layer-kosS71.stop-animations~.layer-kosS71:hover {
    top: -22px;
    height: 100%;
}

.app .layer-kosS71:first-of-type, .app .layer-kosS71.stop-animations:first-of-type {
    transform: scale(1)!important;
    opacity: 1 !important;
}

@media only screen and (max-width: 1600px) {
    .layer-kosS71[layer-id="user-settings"] {
        left:50%!important;
    }
}

.layer-kosS71[layer-id="user-settings"] {
    left: calc(100% - 800px)
}
