.layer-kosS71.stop-animations~.layer-kosS71 {
    position: absolute;
    width: 700px;
    height:calc(100% - 50px);
    top:calc(100% - 50px);   
}
.layer-kosS71.stop-animations~.layer-kosS71:hover {
    top:calc(0px + 30px);
}
.layer-kosS71.stop-animations:first-of-type {
    transform: scale(1)!important;
    opacity:1 !important;
}
